<footer class="bg-dark text-white text-center p-3">
    <div class="container d-flex justify-content-center align-items-center gap-3">
        <div class="text-start">
            <p class="mb-0">&copy; <span>@DateTime.Now.Year</span> TaskNetic. All rights reserved.</p>
        </div>
        <div class="text-end">
            <a href="https://www.linkedin.com/in/daniel-d%C4%85browski-039120237/" class="text-white me-2">Daniel Dąbrowski</a> |
            <a href="https://www.linkedin.com/in/jakub-bi%C5%82yk-477798218/" class="text-white me-2">Jakub Biłyk</a> |
            <a>Michał Perek</a><!---<a href="#" class="text-white">Michał Perek</a>--->
        </div>
    </div>
</footer>

<style>
    .footer {
        padding: 1rem;
        background-color: #333;
        color: #fff;
    }
</style>