@inherits LayoutComponentBase

<head>
    <link rel="stylesheet" href="app.css" />
</head>

<div class="page overflow-x-hidden">
    <Navbar />
    <div class="main-content row pt-3">
        @Body
    </div>
    <Footer/>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
