<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand navbar-expand-md bg-body-tertiary" href="/">
            <img src="./Static/Images" alt="TaskNetic" width="30" height="24">
        </a>
    </div>

</nav>

@code {

}
