@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Identity
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg bg-body-tertiary py-1">
    <div class="container fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="TaskNetic" width="35" height="35" class="d-inline-block align-text-bottom">
            <span class="fs-4">TaskNetic</span>
        </a>
        <AuthorizeView>
            <Authorized>
                <div class="navbar-nav ms-auto align-items-center">
                    <div class="nav-item me-4 dropdown">
                        <a class="nav-link position-relative" @onclick="ShowDropdown" style="cursor: pointer;">
                            <img src="images/bell.svg" alt="Notifications" width="20" height="20" />
                            @if (UnreadCount > 0)
                            {
                                <span class="position-absolute top-20 start-100 translate-middle badge rounded-pill bg-danger">
                                    @UnreadCount
                                </span>
                            }
                        </a>
                        @if (showDropdown)
                        {
                            <NotificationDropdown Show="showDropdown"/>
                        }
                    </div>

                    <a href="/Account/Manage" class="text-decoration-none">
                        <img src="images/person.svg" alt="Person Image" width="20" height="20" class="d-inline-block me-1" />
                        <span class="navbar-text me-4">@username</span>
                    </a>

                        <a class="nav-link text-dark" style="cursor:pointer;" @onclick="Logout">Sign out</a>
                        </div>
                        </Authorized>
                        <NotAuthorized>
                            <div class="navbar-nav ms-auto">
                                <a class="nav-link active" aria-current="page" href="/account/login">Sign in</a>
                                <a class="nav-link" href="/account/register">Sign up</a>
                            </div>
                        </NotAuthorized>
                        </AuthorizeView>

                        </div>
                        </nav>



@code {
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        username = authState.User.Identity.Name;
    }


    private int UnreadCount => Notifications.Count;
    private bool showDropdown = false;
    private List<Notification> Notifications { get; set; } = new List<Notification>
    {
        new Notification { User = "Rees Pearce", Message = "Just a comment...", Url = "card-with-everything" },
        new Notification { User = "Alayah Vang", Message = "How are you?", Url = "card-with-notifications" },
        new Notification { User = "Alayah Vang", Message = "Hey!", Url = "card-with-notifications" }
    };

    private void ShowDropdown()
    {
        showDropdown = !showDropdown;
    }

    private async Task Logout()
    {
        NavigationManager.NavigateTo("/Account/Logout", true);
    }

    private class Notification
    {
        public string User { get; set; }
        public string Message { get; set; }
        public string Url { get; set; }
    }
}