@inject HttpClient Http
@inject ISignalRService SignalRService

<div class="add-card-container rounded-bottom-2">
    @if (isAddingCardVisible)
    {
        <div class="add-card-input d-flex align-items-center flex-column my-3">
            <input type="text" @bind="NewCardName" placeholder="Enter card name" class="form-control form-control-sm" @ref="cardNameInput"/>
            <div class="d-flex align-items-center justify-content-center mt-3">
                <button class="btn btn-primary btn-sm" @onclick="CreateCard">Add new card</button>
                <button class="btn-close ms-3" @onclick="CancelAddingCard" style="width: 10px; height: 10px;"></button>
            </div>
        </div>
    }
    else
    {
        <button class="btn btn-light btn-sm w-100 text-start add-card-button rounded-top-0 rounded-bottom-2 ps-3" @onclick="ShowAddCardInput">+ Add new card</button>
    }
</div>

@code {
    [Parameter] public EventCallback OnCardAdded { get; set; }
    [Parameter] public int ListId { get; set; }
    [Parameter] public int BoardId { get; set; }

    private bool isAddingCardVisible = false;
    private string NewCardName { get; set; } = string.Empty;
    private ElementReference cardNameInput;

    public async Task ShowAddCardInput()
    {
        isAddingCardVisible = true;
        await Task.Delay(1);
        await cardNameInput.FocusAsync();
    }

    private void CancelAddingCard()
    {
        isAddingCardVisible = false;
        NewCardName = string.Empty;
    }

    private async Task CreateCard()
    {
        Console.WriteLine($"Nowa kartka: ${NewCardName}");
        if (!string.IsNullOrWhiteSpace(NewCardName))
        {
            var postRequest = await Http.PostAsJsonAsync($"api/cards/list/{ListId}", NewCardName);      
            await OnCardAdded.InvokeAsync(NewCardName);
            await SignalRService.NotifyGroupAboutListUpdate(BoardId);
            NewCardName = string.Empty;
            isAddingCardVisible = false;
        }
    }
}

<style>
    .form-control{
        width: 90%;
    }
    .add-card-container{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f0f2f4;
    }
    .add-card-button{
        height: 30px;
        background-color: #f0f2f4;
    }
</style>